
body {
    background-color: #0528ed9c; /*or any color of your choosing*/
    text-align: center;

}

.dog {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

table, th, td {
    border: 1px solid black;
    margin: auto;
}

.cabbage {
    color: chartreuse;
}